<html>
  <head>
    <% include partials/head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles_about.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Satisfy" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-rebel" aria-hidden="true"></i> Quick Recipe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
       </ul> 
        
          
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>  How it Works</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <h1> Quick Recipe </h1>
    <hr>
    <p>Find any recipe by what you have in your fridge. Isn't it just a perfect idea? 
	Yeap. We like simple and elegant recipes search by ingredients.
	And, It's just a beginning!</p> 
	<p>This is a personal open source project for everyone, feel free to use source code of this project for your own needs. (See the project on github).</p>
	<br>
	<br>
	<h1>The Team</h1>
	<hr>
	<div class="container">            
  	<a href="https://github.com/sarthak625"><img src="https://avatars1.githubusercontent.com/u/11756075?s=400&v=4" class="img-circle" alt="Cinque Terre" width="400" height="400" align="middle"></a>
  	</div> 
  	<br>
  	<p>A student at DIT University, I am passionate about programming and am enthusiastic about any new technology in the market. Apart from this my love for football is immense.</p>
  	<br>
  	<br>
  	<div class="container">            
  	<a href="https://github.com/ApoorvSingh15"><img src="https://avatars1.githubusercontent.com/u/26206845?s=460&v=4" class="img-circle" alt="Image" width="400" height="400" align="middle"></a>
  	</div> 
  	<br>
  	<p>Featured Technologies include Android, Java and Node.js. A football fanatic and a die-hard Manchester united fan. Love to explore the depths of life and always ready to face any challenge, put in front of me, with determination. On the way of becoming a full stack web developer with Node.js as the preferred back end.</p>
  	<br>
  	<br>
  	<div class="container">            
  	<a href="https://www.linkedin.com/in/kanchan-922940134/"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAsoAAAAJGJiMmU3NGVjLTdhODAtNDQ5ZS1iMzMxLTYwY2U5Y2RiYjM0YQ.jpg" class="img-circle" alt="Image" width="400" height="400" align="middle"></a>
  	</div> 
  	<br>
  	<p>I am a computer enthusiast Btech Computer Science student . I am looking for opportunities to be a part of an
organisation where i can grow and learn.</p>

	
    
  </body>
  <% include partials/footer %>
</html>