<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <%=tags%>
    <hr>
    Welcome to Quick Recipe
    <form class="search_form" action="/search" method="post">
      <input type="text" name="search"></input>
      <input type="submit"></input>
    </form>
  </body>
  <% include partials/footer %>
</html>
