<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    Landing page
    <a href="/search"><button type="button" name="button">Start</button></a>
  </body>
  <% include partials/footer %>
</html>
