<html>
  <head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/styles-notfound.css">
  </head>
  <body>

    <ul>

        <h1> OoPs!! No results found for "<%=q%>"</h1>
        <h2> Error 404 </h2>
    </ul>
  </body>
  <% include partials/footer %>
</html>
